.promo {
  display: flex;
  flex-direction: column;
  background-color: #272727;
  border-radius: 10px;
  font-style: normal;
  min-height: 493px;
  margin: 20px 40px 0;
}

.promo__title {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  max-width: 730px;
  margin: 160px auto auto;
}

.promo__navigation {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  list-style-type: none;
  line-height: 16px;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  padding: 0;
  margin: 0 auto 30px;
}

.promo__navigation-links {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
}

.promo__link {
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 10px;
  background-color: #303030;
  width: 96px;
  cursor: pointer;
}

.promo__link:hover {
  opacity: .7;
}

.promo__text {
  max-width: 96px;
  margin: 10px auto;
}

@media screen and (max-width: 768px) {
  .promo {
    min-height: 834px;
    margin: 20px 20px 0;
  }

  .promo__title {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.6px;
    max-width: 680px;
    margin: 350px auto auto;
  }
}

@media screen and (max-width: 500px) {
  .promo {
    min-height: 586px;
    margin: 14px 14px 0;
  }

  .promo__title {
    font-size: 29px;
    line-height: 37px;
    letter-spacing: -1.16px;
    max-width: 292px;
    margin: 220px auto auto;
  }

  .promo__navigation {
    column-gap: 6px;
    font-size: 10px;
    font-style: normal;
    margin: 0 auto 17px;
  }

  .promo__link {
    border-radius: 6px;
    min-width: 82px;
  }
}
