.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  margin: 0 70px;
}

.header__logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  flex-grow: 1;
  width: 38px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.header__logo:hover {
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .header {
    margin: 0 30px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    margin: 0 14px;
  }
}
